.m-collapse {
  margin: 0;
}

.p-collapse {
  padding: 0;
}

.clearfix {
  &:before {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
}

.bg-primary {
  background-color: $primary;
}